<link rel="stylesheet" href="templates/template-2/styles.css" />
<div id="template-2" class="template-container zig-zag-top-bottom">
  <div class="template-content">
    <div class="header">TAX INVOICE</div>
    <div class="header" id="name"><span class="data"></span></div>
    <div class="sub-header" id="subName"><span class="data"></span></div>
    <div class="sub-header" id="address"><span class="data"></span></div>
    <div class="sub-header" id="gstNo">GSTIN NO <span class="data"></span></div>
    <table>
      <tr>
        <td></td>
        <td></td>
        <td><span class="label">DATE:</span></td>
        <td id="date"><span class="data"></span></td>
      </tr>
      <tr>
        <td id="billNo">
          <span class="label">BILL NO:</span>
          <span class="data"></span>
        </td>
        <td></td>
        <td><span class="label">TIME:</span></td>
        <td id="time"><span class="data"></span></td>
      </tr>
      <tr>
        <td>
          <span class="label">NAME:</span>
          <span class="data"></span>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4">
          <hr class="dotted-hr" />
        </td>
      </tr>
      <tr>
        <td><span class="label">ITEM NAME</span></td>
        <td><span class="label">QTY</span></td>
        <td><span class="label">PRICE</span></td>
        <td><span class="label">AMOUNT</span></td>
      </tr>
      <tr>
        <td colspan="4">
          <hr class="dotted-hr" />
        </td>
      </tr>
      <tr>
        <td id="product"><span class="data"></span></td>
        <td id="volume"><span class="data"></span></td>
        <td id="rate"><span class="data"></span></td>
        <td id="amount"><span class="data"></span></td>
      </tr>
      <tr>
        <td colspan="4">
          <hr class="dotted-hr" />
        </td>
      </tr>
      <tr>
        <td><span class="label">TOTAL ITEM(S):1</span></td>
        <td id="volume">
          <span class="label">/QTY:</span><span class="data"></span>
        </td>
        <td><span class="label"></span></td>
        <td id="amount">
          <span class="label"></span><span class="data"></span>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <hr class="dotted-hr" />
        </td>
      </tr>
      <tr>
        <td><span class="label">TOTAL:</span></td>
        <td><span class="label"></span></td>
        <td><span class="label"></span></td>
        <td id="amount">₹ <span class="data"></span></td>
      </tr>
      <tr>
        <td colspan="4">
          <hr class="dotted-hr" />
        </td>
      </tr>
    </table>
  </div>
</div>
