<link rel="stylesheet" href="templates/template-2/styles.css" />
<div id="template-2" class="template-container zig-zag-top-bottom">
  <div class="template-content">
    <div class="header">TAX INVOICE</div>
    <div class="header">VENKATESWARA AND CO.</div>
    <div class="sub-header">DEALERS IN BHARAT PETROLEUM CORP LTD</div>
    <div class="sub-header">HOSUR MAIN ROAD MADIWALA BLR-68</div>
    <div class="sub-header">GSTIN NO XXXXXXXXXXX</div>
    <table>
      <tr>
        <td></td>
        <td></td>
        <td><span class="label">DATE:</span></td>
        <td><span class="data">21/08/24</span></td>
      </tr>
      <tr>
        <td>
          <span class="label">BILL NO:</span>
          <span class="data">49121</span>
        </td>
        <td></td>
        <td><span class="label">TIME:</span></td>
        <td><span class="data">16:35</span></td>
      </tr>
      <tr>
        <td>
          <span class="label">NAME:</span>
          <span class="data"></span>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4">
          <hr class="dotted-hr" />
        </td>
      </tr>
      <tr>
        <td><span class="label">ITEM NAME</span></td>
        <td><span class="label">QTY</span></td>
        <td><span class="label">PRICE</span></td>
        <td><span class="label">AMOUNT</span></td>
      </tr>
      <tr>
        <td colspan="4">
          <hr class="dotted-hr" />
        </td>
      </tr>
      <tr>
        <td><span class="data">PETROL</span></td>
        <td><span class="data">1.944Lt</span></td>
        <td><span class="data">102.90</span></td>
        <td><span class="data">200.00</span></td>
      </tr>
      <tr>
        <td colspan="4">
          <hr class="dotted-hr" />
        </td>
      </tr>
      <tr>
        <td><span class="label">TOTAL ITEM(S):1</span></td>
        <td><span class="label">/QTY:</span><span>1.944</span></td>
        <td><span class="label"></span></td>
        <td><span class="label"></span><span>200.00</span></td>
      </tr>
      <tr>
        <td colspan="4">
          <hr class="dotted-hr" />
        </td>
      </tr>
      <tr>
        <td><span class="label">TOTAL:</span></td>
        <td><span class="label"></span></td>
        <td><span class="label"></span></td>
        <td>₹ <span class="data">200.00</span></td>
      </tr>
      <tr>
        <td colspan="4">
          <hr class="dotted-hr" />
        </td>
      </tr>
    </table>
  </div>
</div>
