<link rel="stylesheet" href="templates/template-3/styles.css" />
<div id="template-3" class="template-container zig-zag-top-bottom">
  <div class="pump-logo">
    <img src="" id="pumpLogo" />
  </div>
  <div class="template-content">
    <div class="header" id="name">
      <span class="data"></span>
    </div>
    <div class="header" id="address">
      <span class="data"></span>
    </div>
    <div class="header" id="subAddress">
      <span class="data"></span>
    </div>
    <table>
      <tr>
        <td colspan="2" id="attendantName">
          <span class="label">Attendant Name</span> -
          <span class="data"></span>
        </td>
      </tr>
      <tr>
        <td id="date">
          <span class="label">DATE: <span class="data"></span></span>
        </td>
        <td id="time">
          <span class="label">TIME: <span class="data"></span></span>
        </td>
      </tr>
      <tr>
        <td id="mid">
          <span class="label">MID: <span class="data"></span></span>
        </td>
        <td id="tid">
          <span class="label">TID: <span class="data"></span></span>
        </td>
      </tr>
      <tr>
        <td id="batchNo">
          <span class="label">BATCH No: <span class="data"></span></span>
        </td>
        <td id="invoiceNo">
          <span class="label">INVOICE No: <span class="data"></span></span>
        </td>
      </tr>
      <tr>
        <td id="showGST">
          <span id="gstNo" class="label"
            >GSTIN: <span class="data"></span
          ></span>
        </td>
        <td id="showCST">
          <span id="cstNo" class="label"
            >CST No: <span class="data"></span
          ></span>
        </td>
      </tr>
      <tr>
        <td id="showVAT">
          <span id="vatNo" class="label"
            >VAT No: <span class="data"></span
          ></span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="center sale">
          <span class="label">Sale</span>
        </td>
      </tr>
      <tr>
        <td colspan="2" id="card">
          <span class="label">CARD <span class="data"></span></span>
        </td>
      </tr>
      <tr>
        <td id="cardType">
          <span class="label data"></span>
        </td>
        <td id="expDate">
          <span class="label">EXP DATE: <span class="data"></span></span>
        </td>
      </tr>
      <tr>
        <td id="txnType">
          <span class="label">Txn Type: <span class="data"></span></span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td id="apprCode">
          <span class="label">APPR CODE: <span class="data"></span></span>
        </td>
        <td id="rrn">
          <span class="label">RRN: <span class="data"></span></span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label">TC:</span>
        </td>
        <td id="tc">
          <span class="data"></span>
        </td>
      </tr>
      <tr>
        <td id="tsi">
          <span class="label">TSI: <span class="data"></span></span>
        </td>
        <td id="atc">
          <span class="label">ATC: <span class="data"></span></span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label">TVR:</span>
        </td>
        <td id="tvr">
          <span class="data"></span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label">AID:</span>
        </td>
        <td id="aid">
          <span class="data"></span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label">Product:</span>
        </td>
        <td id="product">
          <span class="data"></span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label">Txn Id:</span>
        </td>
        <td id="txnId">
          <span class="data"></span>
        </td>
      </tr>
      <tr>
        <td id="unitPrice">
          <span class="label">Unit Price: <span class="data"></span></span>
        </td>
        <td id="quantity">
          <span class="label">Quantity<span class="data"></span></span>
        </td>
      </tr>
      <tr>
        <td id="pumpNo">
          <span class="label">Pump No<span class="data"></span></span>
        </td>
        <td id="nozzleNo">
          <span class="label">Nozzle No<span class="data"></span></span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label">Total Sale:</span>
        </td>
        <td id="totalSale">
          <span class="data"></span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <hr class="dotted-hr" />
        </td>
      </tr>
      <tr id="netAmount" class="sale">
        <td>
          <span class="label">Net Amount</span>
        </td>
        <td>
          <span class="data"></span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <hr class="dotted-hr" />
        </td>
      </tr>
      <tr>
        <td colspan="2" class="center">
          <span class="label">PIN VERIFIED OK</span>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="center">
          <span class="label">SIGNATURE NOT REQUIRED</span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <hr class="dotted-hr" />
        </td>
      </tr>
      <tr>
        <td colspan="2" class="center" style="font-size: 8px">
          <span class="label">I AGREE TO PAY AS PER CARD ISSUER AGREEMENT</span>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="center sale">
          <span class="label">MERCHANT COPY</span>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="center">
          <span class="label" id="version"><span class="data"></span></span>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="center">
          <img
            src="/assets/images/fiserv_logo_black_rgb1-300x190-removebg-preview.png"
            width="75px"
          />
        </td>
      </tr>
    </table>
  </div>
</div>
