<link rel="stylesheet" href="templates/template-1/styles.css" />
<div id="template-1" class="template-container zig-zag-top-bottom">
  <div class="pump-logo">
    <img src="" id="pumpLogo" />
  </div>
  <div class="template-content">
    <div class="welcome info-block">Welcomes You</div>
    <div class="info-block" id="address">
      <span class="data"></span>
    </div>
    <div class="info-block">
      <div class="line-item" id="receiptNo">
        <span class="label">Receipt No.</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="localId">
        <span class="label">Local ID</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="fipNo">
        <span class="label">FIP No.</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="nozzelNo">
        <span class="label">Nozzle No.</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="product">
        <span class="label">Product</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
    </div>
    <div class="info-block">
      <div class="line-item" id="presetType">
        <span class="label">Preset Type</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="rate">
        <span class="label">Rate(Rs/L)</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="volume">
        <span class="label">Volume(L)</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="amount">
        <span class="label">Amount(Rs)</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="atot">
        <span class="label">Atot</span> <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="vtot">
        <span class="label">Vtot</span> <span class="separator">:</span>
        <span class="data"></span>
      </div>
    </div>

    <div class="info-block">
      <div class="line-item" id="vehicleNo">
        <span class="label">Vehicle No</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="mobileNo">
        <span class="label">Mobile No</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
    </div>

    <div class="info-block">
      <div class="line-item" id="date">
        <span class="label">Date</span> <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="time">
        <span class="label">Time</span> <span class="separator">:</span>
        <span class="data"></span>
      </div>
    </div>
    <div class="info-block business-info">
      <div class="line-item" id="gstNo">
        <span class="label">GSTIN</span> <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="cstNo">
        <span class="label">CST No</span> <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="lstNo">
        <span class="label">LST No</span> <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="vatNo">
        <span class="label">VAT No</span> <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="attendantId">
        <span class="label">ATTENDANT ID</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="fccDate">
        <span class="label">FCC DATE</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
      <div class="line-item" id="fccTime">
        <span class="label">FCC TIME</span>
        <span class="separator">:</span>
        <span class="data"></span>
      </div>
    </div>
    <div class="footer">Thanks You! Please Visit Again..</div>
  </div>
</div>
